<div class="splash">
  <h1>hola</h1>
  <a href="/login" class="btn btn-primary">Entrar</a>

</div>


{{!-- 
DONE: middlewares
DONE: direcciones parse



loop en maps para markers
  mostrar todos (filter de 20)
  filter city


vistas --> lista casi
           mapas casi
           detalle usuario 
           CRUD bar


 --}}