<div class="splash">
  <h1>hola</h1>
  <a href="/login" class="btn btn-primary">Entrar</a>

</div>


{{!-- 
middlewares
direcciones parse



loop en maps para markers
  mostrar todos (filter de 20)
  filter city


vistas --> lista
           mapas
           detalle usuario 
           CRUD bar


 --}}