<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
	body { margin: 0; padding: 0; }
	#map { position: absolute; top: 1000; bottom: 0; width: 100%; float: right; }
</style>
  <title>IronBar</title>

  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
 <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgt_roCuTCpMgUVItEkzNuCIOa-JSlJ30&callback=initMap"
  type="text/javascript"></script>
    <style type="text/css">
      #map {
        height: 30%;
        width: 80%;
        float: right;
      }

      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
      }
    </style>

</head>
<body>
  {{{body}}}
</body>
</html>