<article class="container form type">
  <h1 class="mb-5">Qué tipo de usuario eres</h1>
    <div class="tablet-wraper">

  <a href="/signup/user">

    <div class="tablet">
      <div>

      </div>

      <span>Usuario</span>

    </div>

  </a>
  <a href="/signup/bar">
    <div class="tablet">

      <span>Bar</span>

    </div>
  </a>



    </div>


</article>