<article class="container form type">
  <h1 class="mb-5">Buscar por</h1>
  <div class="tablet-wraper">

    <form action="/findby" method="post">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-6">
            <label>
              <input type="radio" name="findby" class="card-input-element" value="location"/>
              

              <div class="panel panel-default card-input">
                <div class="icon"><img src="./images/userwhite.svg" alt=""></div>
                <div class="panel-heading">Localización</div>

              </div>

            </label>

          </div>
          <div class="col-md-6 col-lg-6 col-sm-6">

            <label>
              <input  type="radio" name="findby" class="card-input-element" value="modality"/>

              <div class="panel panel-default card-input">
                <div class="icon"><img src="./images/pubwhite.svg" alt=""></div>
                <div class="panel-heading">Modalidad</div>

              </div>
            </label>

          </div>

        </div>

      </div>


<button type="submit" class="btn btn-primary">Enviar</button>

    </form>





  </div>


</article>