<h1>List</h1>

<div class="row">
 
 {{findby}}
  {{#each stablishments as |stablishment|}}
    <div class="col-xl-4 col-lg-6 col-sm-12 mb-4">
      {{>stablishments/stablishmentcard stablishment=stablishment }}
    </div>
  {{!-- {{else}}
    <p>
      No stablishments matching search: <i>{{search}}</i>.<br/>
      <a href="/stablishments">All stablishments</a>
    </p> --}}
  {{/each}}
</div>