
<div id="map"></div>


<script>
  var decodedJson = decodeURIComponent("{{{pointsJSON}}}");
  var jsonObj = JSON.parse(decodedJson);
  console.log(jsonObj)
  console.log("asdasd")
  window.points = jsonObj;
</script>