<article class="container form modality">
  <h1 class="mb-5">Modalidades</h1>
  
   <form action="/modality" method="post">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" name='modality' class="custom-control-input" id="checkbox1" value="Cafetería">
              <label class="custom-control-label" for="checkbox1">Cafetería</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" name='modality' class="custom-control-input" id="checkbox2" value="Restauración">
              <label class="custom-control-label" for="checkbox2">Restauración</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" name='modality' class="custom-control-input" id="checkbox3" value="Cervecería">
              <label class="custom-control-label" for="checkbox3">Cervecería</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" name='modality' class="custom-control-input" id="checkbox4" value="Ocio nocturno">
              <label class="custom-control-label" for="checkbox4">Ocio Nocturno</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" name='modality' class="custom-control-input" id="checkbox5" value="Espectáculos">
              <label class="custom-control-label" for="checkbox5">Espectáculos</label>
            </div>
          </div>
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  

</article>